$header-height: 48px;
$browserContext: 16;
$baseWidth: 1920;
$baseHeight: 1080;

@function em($pixels, $context: $browserContext) {
  @return #{$pixels/$context}em;
}

@function vh($target) {
  $vh-context: ($baseHeight*.01);
  @return #{$target/$vh-context}vh;
}

@function vw($target) {
  $vw-context: ($baseWidth*.01);
  @return #{$target/$vw-context}vw;
}