@import "variables";

body .subreddit {
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    .subreddit-content__wrapper {
      padding: vw(20);
      justify-content: center;
      width: 100%;
      display: flex;
    }
  }
  &-header {
    width: 100%;
    display: flex;
    height: vw(220);
    background: white;
    .subreddit-header__inner {
      position: relative;
      width: 100%;
      padding: vw(100) vw(400);
    }
    .subreddit-header__image {
      position: absolute;
      top: vw(20);
      left: 50%;
      width: auto;
      height: auto;
      max-width: 85%;
      max-height: 85%;
    }
    .subreddit-header__title {
      font-size: vw(25);
    }
  }
  &-feed {
    background: none;
    & > a {
      display: flex;
      position: relative;
      width: 100%;
      outline: none;
      text-decoration: none;
    }
    .post {
      display: flex;
      position: relative;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
      color: rgb(135, 138, 140);
      fill: rgb(135, 138, 140);
      overflow: hidden;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      &-rating {
        color: rgb(135, 138, 140);
        fill: rgb(135, 138, 140);
        width: vw(44);
        padding: vw(8) vw(4) vw(8) vw(4);
        font-size: 25px;
        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            cursor: pointer;
            &:hover {
              color: rgb(90, 117, 204);
            }
          }
          div {
            font-size: vw(14);
            font-weight: 700;
            line-height: vw(16);
            color: #1A1A1B;
          }
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        padding: vw(8) vw(8) vw(3) vw(8);
        align-items: flex-start;
        background: rgb(255, 255, 255);
        width: 100%;
        h2 {
          display: inline;
          color: rgb(68, 78, 89);
          overflow-wrap: break-word;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          padding-right: 5px;
          text-align: left;
          margin: vw(5) 0;
        }
      }
      .post-content__author {
        small {
          font-size: vw(10);
          font-weight: 400;
          line-height: vw(16);
          -webkit-box-align: center;
        }
      }
      .post-content__text {
        text-align: left;
      }
      .post-content__bottom {
        display: flex;
        & > div {
          display: flex;
          cursor: pointer;
          font-size: vw(12);
          font-weight: 700;
          line-height: vw(16);
          margin-right: 5px;
          border-radius: vw(2);
          transition: background-color 0.1s ease 0s;
          word-break: normal;
          white-space: nowrap;
          min-width: vw(25);
          padding: vw(5);
          &:hover {
            background-color: rgba(26, 26, 27, 0.1);
            outline: none;
          }
          svg {
            display: inline-block;
            height: vw(17);
            margin-right: vw(4);
            vertical-align: middle;
            width: vw(17);
          }
          &:last-child {
            display: flex;
            justify-content: center;
            padding-left: vw(5);
          }
        }
      }
      p {
        color: rgb(26, 26, 27);
        word-break: break-word;
      }
    }
  }
  &-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: vw(400);
    .sidebar-header {
      border-radius: 5px 5px 0 0;
      width: 100%;
      font-size: vw(11);
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 12px;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      padding: vw(12) vw(12);
    }
    .subreddit-sidebar__body {
      padding: vw(15);
    }
    .subreddit-sidebar__subscribers {
      padding-top: vw(20);
    }
    .subreddit-sidebar__subscribers {
      font-size: vw(17);
      b {
        margin-right: vw(10);
      }
    }
    .sidebar-info {
      display: flex;
      align-items: center;
      img {
        height: vw(32);
        width: vw(32);
        margin-right: vw(10);
      }
      span {
        font-size: vw(17);
        font-weight: 500;
        display: inline-block;
      }
    }
    .subreddit-sidebar__description {
      padding-top: vw(20);
      font-size: vw(15);
    }
  }
}
